.chatMessages {
  height: calc(100vh - 90px);
  overflow-y: auto;
  padding: 16px;
  padding-bottom: 110px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chatMessages::-webkit-scrollbar {
  display: none;
}


.robotClass,
.userClass {
  display: flex;
  flex-direction: row;
  max-width: 620px;
  margin: 0 auto 10px auto;
  align-items: center;
}

.userClass {
  justify-content: flex-end;
}

.robotClass {
  justify-content: flex-start;
}

p {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 10px;
  overflow-wrap: break-word;
}
